@charset "utf-8";
/* CSS Document */
#container {
	width: 960px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	border: 3px solid #630;
	padding: 10px;
}
h4 {
	font-style: italic;
	margin-left: 15px;
}
h3 {
	display : inline;
}
#title{
	display:block; 
	margin:auto;
}
header {
}
nav{
	background-color: #FFFFFF;
	border: thin solid #4CA3FF;
}
nav ul {
	overflow: auto;
	padding-left: 0px;
}
nav li {
	list-style-type: none;
	float: left;
	width:140px;
	background-image:url(../image/bkmk_off.png);
	
}
nav li ul li{
	background-color:#FFFFFF;
}
nav li a {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
	text-align: center;
	padding: 10px;
}

section {
	width: 440px;
	float: left;
	padding-left: 30px;
}
aside {
	width: 460px;
	float: right;
	padding-left: 30px;
	text-align: center;
}
footer {
	background-color: #CF9;
	clear: both;
	text-align: center;
	padding-top: 15px;
	padding-bottom: 15px;
}

body {
	background-color: #FFC;
	font-family: "微軟正黑體";
}

nav ul li ul{
	position:absolute;
	overflow:visible;
	
}

nav ul li ul li{
	float:none;
}

nav ul li ul li ul{
	margin-left:100px;
	margin-top:-40px;
}

nav ul li ul{
	visibility:hidden;
	
}
nav ul li:hover ul{
	visibility:visible;

}
nav ul li:hover ul li ul{
	visibility:hidden;
}
nav ul li ul li:hover ul{
	visibility:visible;
}

.bkmk{
	
}

.bkmk:link {
    background-image: url(../image/bkmk_on.png);
}
.bkmk:hover {
    background-image: url(../image/bkmk_on.png);
}

#goTop {
position: fixed;
bottom: 10px; /* 與下方的距離, 也可改為百分比, 即為距離螢幕下方的百分比 */
right: 10px; /* 與右方的距離 */
width: 80px; /* 按鈕原始寬度 */
height: 80px; /* 按鈕原始高度 */
opacity: 0.5; /* 按鈕原始透明度 */
z-index: 10;
cursor: pointer;
transition: all .5s; /* 動畫效果 持續期間 */
-webkit-transition: all .5s;
-moz-transition: all .5s;
}
#goTop:hover { /* 滑鼠經過按鈕時 */
opacity: 1; /* 透明度 */
}
#mid{
	text-align: center;
	
}
